$color-snow: #fff;
$color-grass: #3dd28d;
$color-green: #00ffaa;
$color-dark: #161616;
$color-background: #eee;
$color-text: #555;

body {
  background: $color-background;
  color: $color-text;
  font-family: monospace;
  font-size: 18px;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

input {
  padding: 10px;
  font-size: 1em;
  font-family: Arial, sans-serif;
  color: #aaa;
  border: solid 1px #ccc;
  margin: 0 0 5px;
}

select {
  font-size: 1em;
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 0;
  margin: 0 0 5px;

  option {
    padding: 10px 20px;
    width: 100%;
  }
}

label {
  cursor: pointer;
  display: inline-block;
  margin-right: 1em;
  padding: 0.4em 0;
  width: 60px;
}

button {
  display: flex;
  overflow: hidden;

  margin: 10px;
  padding: 12px 30px;

  cursor: pointer;
  user-select: none;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;

  color: $color-snow;
  background: $color-grass;

  border: 0 none;
  border-radius: 4px;

  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;

  justify-content: center;
  align-items: center;
  flex: 0 0 160px;

  &:hover {
    transition: all 60ms ease;

    opacity: .85;
  }
}

.field {
  display: flex;
}

.title {
  text-align: center;
  margin-bottom: 20px;

  img {
    height: 70px;
    width: auto;
    margin: 0 auto;
  }
}

.controls {
  width: 300px;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px auto;
  background-color: #ddd;
}
